/* ----- TOC -----
Primary Classes
Reusable Classes
Header
Hero
Values (Meat and Potatoes - Home)
Footer
Media Queries
- 550px
- 750px
- 900px
----- #TOC ----- */


/* ====================
PRIMARY CLASSES
======================= */
body {
	background-color: #000;
	font-family: 'Abhaya Libre', sans-serif;
	color: white;
}
ul, li {
	margin: 0;
	padding: 0;
}



/* ====================
REUSABLE CLASSES
======================= */
.block { 
	display: block; 
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.group {
	text-align: center;
}
.spacer {
	padding: 1.5em 0;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.coming-soon {
	padding: 6em 0;
	text-align: center;
	text-transform: uppercase;
}


/* ====================
HEADER
======================= */
.desktop-logo {
	display: none;
}
.mobile-logo {
	width: 2.5em;
}
.menu-text {
	font-size: 12px;
}
.left-menu {
	width: 100%;
}
.left-menu li {
	list-style: none;
	width: 100%;
	padding-top: 10px;
	/* Overlay Menu */
	/*font-size: 1.1em;
	padding-bottom: 1em;*/
}
.left-menu li a {
	text-decoration: none;
	color: #000;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
}
.left-menu li a:hover,
.right-menu li a:hover,
.footer-menu li a:hover,
.social li a:hover {
	color: #9E8145;
}
.logo {
	padding: 5px 0;
	text-align: center;
}
.logo a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}
.right-menu {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000;
}
.right-menu a {
	color: #000;
	text-decoration: none;
}
.right-menu li {
	padding-top: 15px;
}
.site-header {
	background-color: #fff;
	position: relative;
}
.site-nav {
	text-align: center;
	display: none;
	/* Overlay Style */
	/*position: absolute;
	background: black;
	width: 100%;
	height: calc(100vh - 104px);
	overflow: hidden;
	padding-top: 3em;*/
}


/* ====================
HERO
======================= */
.hero-bg {
	background-image: url('../img/hero.png');
	background-size: cover;
	background-position: center center;
	height: calc(100vh - 82px);
	transition: 1s;
	/*background-attachment: fixed;*/
}
.hero-content {
	text-align: center;
	width: 90%;
}
.hero-logo img {
	width: 7em;
}
.hero-logo-title {
	font-size: 40px;
	font-family: 'Playfair Display', sans-serif;
	text-transform: uppercase;
	line-height: 37px;
	padding: 0.7em 0;
	text-shadow: 2px 3px rgba(0,0,0,0.4);
}
.icon img {
	width: 5em;
}
.section-header {
	font-size: 22px;
	font-family: 'Playfair Display', sans-serif;
	text-transform: uppercase;
	padding: 0.7em 1em;
}


/* ====================
VALUES
======================= */
.backtop-icon { 
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.55);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.55);
  padding: 0.3em 0.5em;
  background: white;
  position: fixed;
  bottom: 2.5em; 
  right: 1em;
  z-index: 200;
  border-radius: 34px;
  margin-right: 0.3em;
 /* display: none;*/
 }
 .backtop-icon a {
 	color: #000;
 }
 .backtop-icon a:hover, .backtop-icon:hover a {
  color: white;
 }
 .backtop-icon:hover {
  background: black;
 }
.copy {
	font-size: 16px;
	text-align: center;
	padding-bottom: 30px;
}
.section-header-group {
	text-align: center;
	padding: 35px 0;
}
.section-header-sub {
	text-transform: uppercase;
	font-family: 'Playfair Display', sans-serif;
	font-size: 14px;
}
.value-bg {
	background-image: url('../img/value-bg.png');
	background-size: cover;
	background-position: center center;
	padding: 50px 0 0;
	/*background-attachment: fixed;*/
}
.value-group {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.value-icon {
	height: 60px;
	display: block;
	margin: 0 auto 25px;
}
.value-text {
	padding-bottom: 50px;
}
.value-title {
	text-transform: uppercase;
	font-family: 'Playfair Display', sans-serif;
	padding-bottom: 1em;
	color: #9E8145;
}


/* ====================
SERVICES
======================= */
.barber-bg {
	background: url('../img/barber-bg.png');
}
.salon-bg {
	background: url('../img/salon-bg.png');	
	background-position: 78% 1% !important;
}
.services-bg {
	background-size: cover;
	background-position: center center;
}
.copy.services {
	padding: 0 25px 30px;
}
.fullpage-breadcrumb {
	font-size: 10px;
	font-family: 'Abhaya Libre', sans-serif;
}
.fullpage-header {
	background: url(../img/fullpage-header.jpg);
	height: 30vh;
	background-size: cover;
	background-position: center center;
	/*background-attachment: fixed;*/
	filter: contrast(110%);
}
.section-header.services {
	padding: 0.2em 0;
}
.section-header-group.services {
	margin: 35px 0;
}
.section-header-parent {
	padding: 1.2em 0;
}
.section-header-sub.services {
	color: #9E8145;
	display: none;
}
.section-header-title {
	padding: 1em 0 3.5em;
}
.services-header {
	font-family: 'Playfair Display', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding: 15px 25px;
}
.services-list {
	list-style: none;
	margin-left: 40px;
}
.services-list li {
	list-style-image: url('../img/services-list-icon.png');
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
	line-height: 14px;
	vertical-align: middle;
}
.services-list-icon {
	width: 2em;
	padding-right: 1.5em;
}
.services-list-subtitle {
	display: block;
	font-size: 12px;
	font-weight: 400;
}
.services-list-wrapper {
	padding: 10px 30px;
}
.lookbook-bg {
	background-position: center center;
	height: 35vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.lookbook1 {
	background-image: url(../img/lookbook1.png);
}
.lookbook2 {
	background-image: url('../img/lookbook2.png');
}
.services-group {
	width: 85%;
	margin: 0 auto;
}
.services-group#salon-services {
	margin-top: 5em;
}
.services-group {
	width: 80%;
	margin: 0 auto;
}


/* ====================
LOCATIONS
======================= */
.value-title.locations {
	padding-bottom: 0px;
}
.section-header.locations {
	padding: 0 20px;
}
.locations-copy {
	padding: 30px 15px;
}
.locations-img {
	position: relative;
	width: 80%;
	margin: 0 auto;
}
.locations-img img {
	width: 100%;
	margin-bottom: 30px;
}
.locations_title {
	text-transform: uppercase;
	font-family: 'Playfair Display', sans-serif;
	font-size: 1.1em;
	padding-bottom: 15px;
}
.locations_listing {
	letter-spacing: 1px;
	font-weight: 400;
	padding-bottom: 30px;
	list-style: none;
}
.locations_link a {
	color: #9E8145;
	font-weight: bolder;
	text-decoration: none;
}
.locations_name {
	position: absolute;
	bottom: 2.5em;
	text-transform: uppercase;
	left: 10px;
}
.col-4.locations {
	text-align: center;
}


/* ====================
LOOKBOOK
======================= */
.video_img,
.gallery_img,
.lookbook_video iframe {
	width: 100%;
	padding-bottom: 30px;
}
.luminous_lightbox {
	width: 90%;
	margin: 0 auto;
	list-style: none;
}


/* ====================
FAQs
======================= */
.faqs-list {
	list-style: none;
	width: 80%;
	margin: 3em auto;
}
.faqs-list li {
	padding-bottom: 3em;
	font-size: 14px;
}
.faqs-list li span {
	font-size: 16px;
	font-weight: bolder;
	display: block;
	letter-spacing: 1px;
	padding-bottom: 15px;
}
.icon {
	text-align: center;
}

/* ====================
FOOTER
======================= */
.copyright {
	color: #000;
	text-transform: uppercase;
	text-align: center;
	padding: 60px 0 20px;
}
.footer-menu li {
	padding-bottom: 7px;
}
.footer-section-left {
	text-align: center;
	padding-top: 30px;
}
.footer-section-right {
	text-align: center;
	padding-top: 30px;
}
.site-footer {
	background: #fff;
}
.social { 
	padding: 20px 0; 
}
.social li {
	display: inline-block;
	padding-right: 10px;
}
.social li:last-child {
	padding-right: 0;
}
.social li a,
.footer-menu li a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}


/* ====================
MEDIA QUERIES
======================= */


/* ====================
- 550PX
======================= */
@media screen and (min-width: 550px) {
	
	/* HERO */
	.hero-content {
		width: 60%;
	}
	/* VALUES */
	.value-group {
		width: 50%;
	}
	/* SERVICES */
	.section-header-group.contain-width {
		width: 71%;
		margin: 0 auto;
	}
	.services-group {
		width: 50%;
	}
	/* LOOKBOOK */
	.lookbook-bg {
		height: 45vh;
	}
	.lookbook_video {
		width: 80%;
		margin: 0 auto;
	}
	/* FAQs */
	.faqs-list li {
		float: left;
		width: 45%;
		margin-right: 20px;
		padding: 5px;
		margin-bottom: 20px;
	}

}


/* ====================
- 750PX
======================= */
@media screen and (min-width: 750px) {	
	
	/* REUSABLE CLASSES */
	.wrapper {
		width: 70%;
	}

	/* HEADER */
	.desktop-logo {
		display: block;
		float: left;
	}
	.left-menu {
		width: 65%;
		float: left;
		margin-left: 25px;
	}
	.left-menu li,
	.right-menu li {
		width: auto;
		display: inline-block;
		padding-right: 10px;
		font-size: 14px;
		padding-top: 0;
	}
	.logo {
		display: none;
	}
	.right-menu {
		float: right;
		width: 27%;
		padding-top: 0;
		padding-bottom: 0;
	}
	.site-header {
		padding: 10px;
	}
	.site-nav {
		display: block;
		width: calc(100% - 75px);
		float: left;
		text-align: left;
		padding: 20px 0;
	}
	
	/* SERVICES */
	.services-group {
		float: left;
	}
	.services-group#barber-services {
		margin-top: 5em;
		width: 47%;
	}
	.services-group#salon-services {
		margin-top: 10em;
		margin-left: 15px;
		width: 47%;
	}
	.services-header {
		padding: 35px 25px;
	}
	.another-wrapper {
		width: 75%;
		margin: 0 auto;
	}


	/* LOCATIONS */
	.location-content_wrapper {
		width: 29%;
		float: left;
		margin-right: 4%;
	}
	.location-content_img-wrapper {
		width: 65%;
		float: left;
	}
	.locations-img {
		width: 31%;
		float: left;
		margin-right: 5px;
	}
	.locations-img:nth-child(2) {
		margin-top: 2em;
	}
	.locations-img:nth-child(3) {
		margin-top: 4em;
	}
	.locations-copy {
		padding: 30px 40px;
	}
	.locations_name {
		bottom: 1.7em;
	}

	/* LOOKBOOK */
	.col-4.lookbook {
		width: 31%;
		margin-right: 3%;	
	}
	.col-4.lookbook:last-child {
		margin-right: 0;
	}
	.luminous_lightbox {
		width: 100%;
	}
	.luminous_lightbox li {
		width: 32%;
		float: left;
		margin-right: 1.2%;
	}
	.luminous_lightbox li:last-child {
		margin-right: 0;
	}
	.gallery_img {
		padding-bottom: 15px;
	}

	/* VALUES */
	.col-4 {
		width: 33.2%;
		float: left;
	}
	.value-group {
		width: 100%;
	}
	.value-text {
		padding: 0 60px 100px;
	}



	/* FOOTER */
	.copyright {
		clear: both;
		padding: 10px 0 10px 50px;
		text-align: left;
		font-size: 12px;
	}
	.footer-menu {
		width: 40%;
		float: right;
		list-style: none;
	}
	.footer-section-left {
		width: 30%;
		float: left;
		text-align: left;
		padding-left: 50px;
	}
	.footer-section-right {
		width: 40%;
		float: right;
		text-align: left;
		margin-right: 40px;
	}
	.social {
		padding: 10px 0 0;
	}
	
	/* LOOKBOOK */
	.col-3 {
		width: 25%;
		float: left;
		height: 30vh;
	}

	/* FAQs */
	.faqs-list {
		width: 700px;
	}
}


/* ====================
- 900PX
======================= */
@media screen and (min-width: 900px) {
	
	/* REUSABLE CLASSES */
	.wrapper {
		width: 500px;
	}

	/* HEADER */
	.left-menu {
		margin-left: 50px;
	}

	/* HERO */
	.hero-content {
		width: 50%;
	}
	
	/* VALUES */
	.section-header-group {
		padding: 35px 0 60px;
	}
	.value-group {
		width: 850px;
	}

	/* SERVICES */
	.another-wrapper {
		width: 55%;
		margin: 0 auto;
	}

	/* LOCATIONS */
	.row {
		width: 850px;
		margin: 0 auto;
	}
}

/* ====================
- 1350PX
======================= */
@media screen and (min-width: 1350px) {
	.location-width {
		max-width: 1350px;
		margin: 0 auto;
	}
}
